.coffee-menu {
  margin: 20px auto 80px;
  min-height: 70vh;
  padding-inline:10px ;
  .category {
    position: sticky;
    top: 0px;
    left: 0;
    margin: 40px auto 25px;
    width: 100%;
    padding-top: 8px;
    z-index: 10;
    background: var(--background-color);
    .scroll-btn{
      cursor: pointer;
      width: 30px;
      height: 30px;
      text-align: center;
      position: absolute;
      color: white;
      background: var(--primery-color);
      padding: 5px;
      border-radius: 50%;
      border: 1.2px solid var(--primery-color);
      top: 45%;
      z-index: 10;
      display: none;
      @media screen and (max-width:860px) {
      display: block;
      }
    }
    .left-btn{
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }
    .right-btn{
      right: 0;
      transform: translateY(-50%) ;
    }
    .category-content {
      scroll-behavior: smooth;
      width: calc(100% - 90px);
      margin-inline:auto ;
      display: block;
      display: flex;
      align-items: center;
      overflow-x: auto;  
      &::-webkit-scrollbar{
        display: none;
      }

      button {
        white-space: nowrap;
        flex-grow: 1;
        margin: 7px;
        padding: 7px 22px;
        background: var(--secondry-color);
        color: var(--primery-color);
        border: 0;
        border-radius: 7px;
        font-size: 0.8rem;
        text-transform: capitalize;
        cursor: pointer;
        user-select: none;
        transition: 0.5s ease-out;
        &.active {
          color: white;
          background: var(--primery-color);
        }
      }
      &::-webkit-scrollbar {
        height: 5px;
      }
      &:nth-last-of-type(1){
        padding-top: 10px;
        justify-content: center;
        button{
          max-width: 100px;
        }
      }

    }
  }

  .box-content {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 10px;

    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 801px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media screen and (max-width: 801px) {
    width: 100%;
  }
}
